.App {
	text-decoration: none;
	font-family: 'Malgun Gothic', '굴림', 'Gulim', 'Arial';
	color: #000000;
}
.listbox {
	display: grid;
}
.container_banner {
	font-size: 3ch;
	font-weight: bold;
}
.textstyle {
	text-decoration: none;
	color: #000000;
}
